# Ignore provider-specific files
.terraform/
.terraform.lock.hcl
.terraform/providers/registry.terraform.io/hashicorp/aws/5.93.0/windows_amd64/terraform-provider-aws_v5.93.0_x5.exe

# Ignore private key files
*.pem
*.key
